.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__greeting {
  margin: 74px 0 0 0;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__info-container {
  margin: 107px 0 0 0;
  border-bottom: 1px solid #E8E8E8;
  display: flex;
  justify-content: space-between;
  width: 410px;
  height: 46px;
  align-items: center;
  position: relative;
}

.profile__info-container:nth-of-type(2) {
  margin: 0;
  border-bottom: none;
}

.profile__info-name {
  margin: 0;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  border: none;
  margin: 0;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #2BE080;
}

.profile__input:focus {
  outline: none;
}

.profile__input:disabled {
  background-color: white;
  color: black;
}

.profile__redact {
  margin: 20px 0 0 0;
  padding: 0;
  border: none;
  background-color: white;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  transition: opacity 0.1s linear 0.1s;
}

.profile__submit {
  margin: 20px 0 0 0;
  background: #FF6838;
  border-radius: 3px;
  box-sizing: border-box;
  border: none;
  width: 410px;
  height: 45px;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  transition: opacity 0.1s linear 0.1s;
}

.profile__submit_type_disactive {
  background: #F8F8F8;
  color: #C2C2C2;
}

.profile__submit:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__redact:hover {
  cursor: pointer;
  opacity: 0.5;
}

.profile__link {
  margin: 16px 0 0 0;
  font-family: Inter, 'Arial', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #EE3465;
  transition: opacity 0.1s linear 0.1s;
}

.profile__link:hover {
  cursor: pointer;
  opacity: 0.5;
}

.profile__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__error-container {
  margin: 189px 0 0 0;
  min-height: 14px;
}

.profile__error-name {
  margin: 0;
  font-family: Inter, 'Arial', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #FF004C;
}

.profile__ok-name {
  margin: 0;
  font-family: Inter, 'Arial', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #2BE080;
}

.profile__input-error{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.profile__input_error_active {
  color: #EE3465;
}

@media screen and (max-width: 768px) {

  .profile__error-container {
    margin: 179px 0 0 0;
  }

  .profile__submit {
    margin: 20px 0 40px 0;
  }

  .profile__greeting {
    margin: 236px 0 0 0;
  }
  
  .profile__info-container {
    margin: 80px 0 0 0;
  }

  .profile__link {
    margin: 16px 0 40px 0;
  }
}

@media screen and (max-width: 440px) {

  .profile__error-container {
    margin: 330px 0 0 0;
  }

  .profile__submit {
    width: 260px;
    margin: 20px 0 40px 0;
  }

  .profile__greeting {
    margin: 70px 0 0 0;
  }
  
  .profile__info-container {
    margin: 64px 0 0 0;
    width: 260px;
  }
  
}